body {
  font-family: "Arial", sans-serif;
  background-color: #94b9dd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background-color: #ddbdbd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

#task-input {
  width: calc(100% - 130px);
  padding: 12px;
  border: 1px solid #060404;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}

#add-task {
  padding: 10px 10px;
  background-color: #0d8020;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #f8f9fa;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #b9cde1;
}

.delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete:hover {
  background-color: #c82333;
  transform: scale(1.05);
}
